# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
smart-geo-attendance-final.zip
smart-geo-attendance-v2.zip
smart-geo-attendance-v3.zip
smart-geo-attendance-enhanced.zip
smart-geo-attendance-v3-professional.zip
